<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<style>
           p.big
    {
      font-size: 72px;
    }

    p.mid
    {
      font-size: 20px;
}

 </style>



<div class="container">
  <br>
  <p class="big"><strong>About Us</strong></p>
<br>
  <br>
  <h4><p class="big">Our Goal</p></h4></div>
  <br>
  <br>
  <div class="well well-sm"><p class="mid"> Our goal is to find you the love of your life with our unique algorithm<br><br>
We create a perfect environment at our website sponsored events to either meet your match or just to meet new people<br><br>Spend less time searching and more time with your match</p></div>
    <div><h4><p class="big">Why are we making this?</p></h4></div>
  <br>
  <br>
  <div class="well well-sm"><p class="mid">Other websites do not adequately match users. Many of the free or cheap websites and applications limit you to how much information you can put to be able to find your perfect match and those websites who do have more complex methods are expensive. <br><br>
Other dating sites do not offer special exclusive events to go and meet other users on the dating site</p></div>



</body>
</html>
