<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
           p.big
    {
      font-size: 72px;
    }


  </style>
</head>
<body>


<br><br>
  <p class="big"><strong>Features</strong></p>
<br>
  <br><br><br>

  <div class="well well-sm">
    <ul>
      <li>Too busy with your engineering homework and long work hours to find a match?</li><br>
      <li>Let Bumpin’ Uglies do the dirty work for you ;)</li><br>
      <li>Free dating app designed to find you the love of your life</li><br>
      <li>With our proven algorithm, you’re more likely to find a long lasting relationship than ever before</li><br>
      <li>New to the area? Our common interests events will help you meet like minded people</li><br>
      <li>Exclusively sponsored events allow users to meet one another in person in a safe environment</li><br>
      <li>Detailed questionnaire to find out what’s most important to you</li><br>
      <li>No limitations</li>
    </ul>





  </div>


<div class="container text-center">
  <br>
  <div class="row">
    <br><h4>Fortune Cookie Analysis™</h4><br><br>
    <div class="col-sm-4">
      <img src="/assets/FCA2.gif" class="img-responsive"  alt="Image" height="600" width="600">
      <br><br><br>
    </div>
  </div>
    <div class="well well-sm">
      <ul>
        <li>Connect users through our patented Fortune Cookie Analysis™ (FCA)</li><br>
        <li>Two step progression - combination of analytics (triangulation) and luck (readings)</li><br>
        <li>Statistically high match rate</li><br>
        <li>Lower probability of break up</li><br>
      </ul>
    </div>
    <br><br>
    <div class="col-sm-4">
            <h4>Triangulation</h4><br><br><br>
      <img src="/assets/Triangulation.png" class="img-responsive"  alt="Image" height="600" width="600"> <br><br><br>
    </div>
            <div class="well well-sm">
      <ul>
        <li>Backbone of our matchmaking system - the computation</li><br>
        <li>Connects two candidates and an event based on requirements, likes, and dislikes</li><br>
        <li>Most dating apps are linear</li><br>
        <li>Sets the initiation and foundation of a potentially long-lasting match</li><br>
      </ul>
    </div>



        <div class="col-sm-4">
                <br><br><h4>Randomized Readings</h4><br><br>
      <img src="/assets/fortune.jpg" class="img-responsive"  alt="Image" height="600" width="600"><br><br><br>
    </div>
        <div class="well well-sm">
      <ul>
        <li>Where the “magic” of our matchmaking comes from</li><br>
        <li>Randomized fortune cookie readings</li><br>
        <li>Occurs only after triangulation and the date has ended</li><br>
        <li>Both users read and interpret readings that influence future date progression with their date</li><br>
      </ul>
    </div>
  <br><br>
<br><br>

<div class="well well-sm text-center">
  <h5>&copy; 2016 Bumpin' Uglies</h5>
</div>

</body>
</html>
