
<style>
  p.big
  {
    font-size:72px;

}
  p.med
  {
    font-size:24px;
  }

</style>
<br><br><br>
<p class="big"><strong>Inbox</strong></p>
<br><br>
<p class="mid">Messaging System Coming Soon!</p>
